.card {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%); /* Centra la .card en ambos ejes */
	padding: 5rem;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 5rem;
	background: rgb(2, 73, 69);
	background: linear-gradient(90deg, rgba(2, 73, 69, 1) 0%, rgba(17, 167, 155, 1) 100%);
	border-radius: 10px;
	width: 80vw;
	text-align: center;
	margin: auto;

	&__h1 {
		padding: 0;
	}
	&__p {
		text-align: justify;
	}
	&__info {
		width: 75%;
		color: white;
		display: flex;
		flex-direction: column;
		gap: 2rem;
	}
	&__link {
		display: flex;
		justify-content: space-around;
		align-items: center;
		width: 100%;
		height: 100px;
		padding: 0;
		&__item {
			transition: 250ms;
			&:hover {
				transform: scale(1.2);
			}
			img {
				width: 75px;
			}
			a {
				color: white;

				&:hover {
					color: white;
				}
				&:visited {
					color: white;
				}
			}
		}
	}
	&__photo {
		width: 25%;

		:hover {
			transform: scale(1.1);
		}
		&__img {
			width: 100%;
			border: solid white 5px;
			border-radius: 50%;
			transition: 250ms;
		}
	}
	@media only screen and (max-width: 1024px) {
		flex-direction: column-reverse;
		gap: 0;
		padding: 1rem;
		&__h1 {
			&__info {
				gap: 1rem;
			}
			&__photo {
				width: 33%;
				min-width: 250px;
			}
		}
		@media only screen and (max-width: 768px) {
			padding: 0.5rem;
			&__info {
				gap: 0rem;
			}
			&__h1 {
				font-size: 2rem;
			}
			&__h2 {
				font-size: 1.5rem;
			}
			&__link {
				img {
					width: 50px;
				}
				a {
					font-size: 0.75rem;
				}
			}
			&__photo {
				width: 50%;
				max-width: 150px;
			}
		}
	}
}
