.exp {
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 3rem;
	> p {
		text-align: center;
		font-weight: 700;
		font-size: min(10vw, 50px);
	}
	&__list {
		display: flex;
		flex-direction: column;
		gap: 2rem;
		margin: 0 5%;
		margin-bottom: 75px;
		&__item {
			display: flex;
			gap: 5rem;
			background-color: white;
			color: black;
			padding: 5rem;
			border-radius: 10px;
			opacity: 0;
			animation: scaleUp 0.5s ease-out forwards;
			/* Add additional styling for the card */
			transition: transform 0.5s ease-out;

			&__important {
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
				gap: 2rem;

				h2 {
					font-size: xx-large;
				}
				> div {
					display: flex;
					flex-direction: column;
					justify-content: center;
					align-items: center;
					gap: 1rem;
				}
				a {
					transition: 250ms;
					font-weight: 700;
					color: #00878b;
					&:hover {
						transform: scale(1.1);
						color: black;
					}
				}
				img {
					padding: 25px;
					border: 1px solid black;
					width: 100%;
					min-width: 400px;
				}
			}
			&__description {
				display: flex;
				flex-direction: column;
				gap: 15px;
				font-weight: 700;
				text-align: justify;
				ul {
					li {
						list-style: disc;
					}
				}
			}
		}
	}
	&__stack {
		margin: 0 10%;
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(min(20rem, 100%), 1fr));
		flex-wrap: wrap;
		gap: 2rem;
		&__item {
			display: grid;
			grid-template-columns: 20% 80%;
			justify-items: center;
			justify-content: center;
			align-items: center;
			align-content: center;
			gap: 1rem;
			padding: 10px 20px;
			background-color: white;
			border-radius: 30px;
			color: black;
			font-weight: 700;
			opacity: 0;
			animation: scaleUp 0.5s ease-out forwards;
			/* Add additional styling for the card */
			transition: transform 0.5s ease-out;
			min-width: 250px;
			img {
				width: 50px;
				border-radius: 5px;
			}
		}
	}
}

@media only screen and (max-width: 1440px) {
	.exp {
		
		&__list {
			&__item {
				flex-direction: column;
				padding: 3rem;
				gap: 3rem;
				img {
					min-width: 200px;
				}
				h2,
				a {
					text-align: center;
				}
			}
		}
	}
}

.progress-bar {
	width: 100%;
	background-color: #1f1f1f;
	border-radius: 10px;
	overflow: hidden;
	height: 15px; /* Adjust height as needed */
}

.progress-bar__fill {
	background-color: #4caf50;
	height: 100%;
	width: 0;
	border-radius: 10px;
	transition: width 0.3s ease-in-out;
}
