.header {
	width: 100%;
	background-color: #024945; /* Puedes ajustar el color de fondo */
	padding: 2rem;
	color: white;
	text-align: center;
    top: 0;
    position: relative;
	h1 {
		margin: 0;
	}
	ul {
		list-style-type: none;
		padding: 0;
		margin: 1rem 0;
		display: flex;
		justify-content: center;
        flex-wrap: wrap;
		gap: 2rem;
		a {
			color: white;
			text-decoration: none;
			font-weight: bold;
		}
	}
}
