@charset "UTF-8";
.card {
  padding: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  background: rgb(2, 73, 69);
  background: linear-gradient(90deg, rgb(2, 73, 69) 0%, rgb(17, 167, 155) 100%);
  border-radius: 10px;
  width: 80vw;
  text-align: center;
  margin: auto;
}
.card__h1 {
  padding: 0;
}
.card__p {
  text-align: justify;
}
.card__info {
  width: 75%;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.card__link {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  gap: 10px;
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  padding: 0;
}
.card__link__item {
  transition: 250ms;
}
.card__link__item:hover {
  transform: scale(1.2);
}
.card__link__item img {
  width: 75px;
}
.card__link__item a {
  color: white;
}
.card__link__item a:hover {
  color: white;
}
.card__link__item a:visited {
  color: white;
}
.card__photo {
  width: 25%;
}
.card__photo :hover {
  transform: scale(1.1);
}
.card__photo__img {
  width: 100%;
  border: solid white 5px;
  border-radius: 50%;
  transition: 250ms;
}
@media only screen and (max-width: 1024px) {
  .card {
    flex-direction: column-reverse;
    gap: 0;
    padding: 1rem;
    width: 100%;
    height: 100vh;
  }
  .card__h1__info {
    gap: 1rem;
  }
  .card__h1__photo {
    width: 33%;
    min-width: 250px;
  }
}
@media only screen and (max-width: 1024px) and (max-width: 768px) {
  .card {
    padding: 0.5rem;
    height: -moz-fit-content;
    height: fit-content;
    margin-bottom: 75px;
  }
  .card__info {
    gap: 1rem;
  }
  .card__h1 {
    font-size: 2rem;
  }
  .card__h2 {
    font-size: 1.5rem;
  }
  .card__link img {
    width: 50px;
  }
  .card__link a {
    font-size: 0.75rem;
  }
  .card__photo {
    width: 50%;
    max-width: 150px;
  }
}

.projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-bottom: 75px;
}
.projects__elements {
  margin: 0;
  padding: 5%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.projects__elements h2 {
  text-align: center;
  font-weight: 700;
  font-size: min(10vw, 50px);
}
.projects__elements p {
  text-align: center;
  font-weight: 400;
  font-size: min(6vw, 20px);
}
.projects__items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  justify-items: center;
}
.projects__items__single {
  opacity: 0;
  animation: scaleUp 0.5s ease-out forwards;
  transition: transform 0.5s ease-out;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  background-color: white;
  border-radius: 30px;
  max-width: 500px;
  min-width: 200px;
  overflow: hidden;
  padding: 1rem;
  /* Hover effect */
}
.projects__items__single > div {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
  padding: 0 1rem;
}
.projects__items__single > div > div {
  display: flex;
}
.projects__items__single > div > div p {
  white-space: nowrap;
}
.projects__items__single > div > div img {
  width: 25px;
}
.projects__items__single h3 {
  width: 100%;
  font-size: 2rem;
  color: rgb(71, 71, 71);
  text-align: left;
}
.projects__items__single p {
  font-weight: 500;
  color: black;
  text-align: justify;
}
.projects__items__single > img {
  width: 100%;
  height: auto;
  mask-image: linear-gradient(to bottom, rgb(0, 0, 0) 66%, rgba(0, 0, 0, 0) 100%);
  -webkit-mask-image: linear-gradient(to bottom, rgb(0, 0, 0) 66%, rgba(0, 0, 0, 0) 100%);
  border-radius: 1rem 1rem 0 0;
}
.projects__items__single ul {
  width: 100%;
  display: flex;
  gap: 1rem;
}
.projects__items__single ul li {
  display: flex;
  height: -moz-fit-content;
  height: fit-content;
}
.projects__items__single ul img {
  width: 35px;
}
.projects__items__single:hover {
  transform: translateY(-5%); /* Move it up when hovering */
  color: white;
}

/* Media Queries */
@media only screen and (max-width: 1440px) {
  .projects__items {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media only screen and (max-width: 768px) {
  .projects__items {
    grid-template-columns: repeat(1, 1fr);
  }
  .projects__items__single h3 {
    font-size: 1rem;
  }
}
/* Keyframes */
@keyframes scaleUp {
  0% {
    transform: scale(0.5); /* Start at 50% of the original size */
    opacity: 0; /* Start with 0 opacity */
  }
  100% {
    transform: scale(1); /* End at 100% of the original size */
    opacity: 1; /* End with full opacity */
  }
}
.contact {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%; /* Make it span the entire bottom width */
  /* You can adjust z-index if necessary */
  z-index: 1000;
}
.contact__info {
  position: absolute;
  bottom: 110%; /* Posiciona el texto justo encima del anchor */
  left: 50%;
  transform: translateX(-50%);
  display: none; /* Ocultar por defecto */
  text-align: center;
  background-color: white;
  color: black;
  border: 1px solid rgb(171, 171, 171);
  border-radius: 10px;
  padding: 15px;
  white-space: nowrap; /* Evita que el texto se quiebre en varias líneas */
  z-index: 10; /* Asegura que el texto esté por encima de otros elementos */
  max-width: calc(100vw - 20px); /* Asegura que el texto no sea más ancho que el viewport */
}
.contact__links {
  display: flex;
  justify-content: end;
  gap: 1rem;
  padding: 15px;
}
.contact__links li {
  position: relative;
}
.contact__links li:hover .contact__info {
  display: block;
  left: auto;
  right: 0;
  transform: translateX(0); /* Si el espacio es limitado, alinearlo al borde derecho */
}
.contact__links a {
  background-color: white;
  padding: 5px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}
.contact__links a img {
  width: 35px;
  height: 35px;
}

.header {
  width: 100%;
  background-color: #024945; /* Puedes ajustar el color de fondo */
  padding: 2rem;
  color: white;
  text-align: center;
  top: 0;
  position: relative;
}
.header h1 {
  margin: 0;
}
.header ul {
  list-style-type: none;
  padding: 0;
  margin: 1rem 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
}
.header ul a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.exp {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 3rem;
}
.exp > p {
  text-align: center;
  font-weight: 700;
  font-size: min(10vw, 50px);
}
.exp__list {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin: 0 5%;
  margin-bottom: 75px;
}
.exp__list__item {
  display: flex;
  gap: 5rem;
  background-color: white;
  color: black;
  padding: 5rem;
  border-radius: 10px;
  opacity: 0;
  animation: scaleUp 0.5s ease-out forwards;
  /* Add additional styling for the card */
  transition: transform 0.5s ease-out;
}
.exp__list__item__important {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.exp__list__item__important h2 {
  font-size: xx-large;
}
.exp__list__item__important > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.exp__list__item__important a {
  transition: 250ms;
  font-weight: 700;
  color: #00878b;
}
.exp__list__item__important a:hover {
  transform: scale(1.1);
  color: black;
}
.exp__list__item__important img {
  padding: 25px;
  border: 1px solid black;
  width: 100%;
  min-width: 400px;
}
.exp__list__item__description {
  display: flex;
  flex-direction: column;
  gap: 15px;
  font-weight: 700;
  text-align: justify;
}
.exp__list__item__description ul li {
  list-style: disc;
}
.exp__stack {
  margin: 0 10%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(min(20rem, 100%), 1fr));
  flex-wrap: wrap;
  gap: 2rem;
}
.exp__stack__item {
  display: grid;
  grid-template-columns: 20% 80%;
  justify-items: center;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 1rem;
  padding: 10px 20px;
  background-color: white;
  border-radius: 30px;
  color: black;
  font-weight: 700;
  opacity: 0;
  animation: scaleUp 0.5s ease-out forwards;
  /* Add additional styling for the card */
  transition: transform 0.5s ease-out;
  min-width: 250px;
}
.exp__stack__item img {
  width: 50px;
  border-radius: 5px;
}

@media only screen and (max-width: 1440px) {
  .exp__list__item {
    flex-direction: column;
    padding: 3rem;
    gap: 3rem;
  }
  .exp__list__item img {
    min-width: 200px;
  }
  .exp__list__item h2,
  .exp__list__item a {
    text-align: center;
  }
}
.progress-bar {
  width: 100%;
  background-color: #1f1f1f;
  border-radius: 10px;
  overflow: hidden;
  height: 15px; /* Adjust height as needed */
}

.progress-bar__fill {
  background-color: #4caf50;
  height: 100%;
  width: 0;
  border-radius: 10px;
  transition: width 0.3s ease-in-out;
}

.studies {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin: 5%;
  margin-bottom: 75px;
}
.studies__item {
  opacity: 0;
  animation: scaleUp 0.5s ease-out forwards;
  transition: transform 0.5s ease-out;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  background-color: white;
  border-radius: 30px;
  width: 80vw;
  overflow: hidden;
  padding: 1rem;
  color: black;
}
.studies__item__degree {
  text-align: center;
}
.studies__item__degree p {
  font-weight: 700;
}
.studies__item__description {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 3rem;
  font-weight: 700;
  text-align: justify;
}
.studies img {
  max-width: 400px;
  width: 100%;
}

@media only screen and (max-width: 1440px) {
  .studies__item__description {
    padding: 1rem;
  }
}/*# sourceMappingURL=App.css.map */